<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University website Design</title>
    <link rel="stylesheet" href="style.css">
    <!-- google fonts link -->
    <!-- font name :  Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <!-- Add fonts for mobile mode -->
    <!-- font name : awesome 4 cdn -->
    <link rel="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="images/logo.png" alt="logo" ></a>
            <div class="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">COUSE</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>

        <div class="text-box">
            <h1>world's Biggest University</h1>
            <p>Lorem ipsum dolor sit amet consectetur,
                 adipisicing elit. Facilis ea facere
                  accusamus quisquam pariatur?<br> Dolorum,
                   reiciendis? Cum repellat incidunt assumenda architecto debitis quia quidem possimus.
                    Deleniti ullam eum omnis a!
            </p>
            <a href="http://localhost:8000/register/" class="hero-btn">REGISTER</a>
            
        </div>
    </section>
</body>
</html>