<!DOCTYPE html>
<html lang="en">

<head>
    {% csrf_token %} 
    <title>Base</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'snippest/header.html' %}
    {% include 'snippest/base_css.html' %}

</head>

<body>

    <!-- Body -->
    <style type="text/css">
        .main{
            min-height: 100vh;
            height: 100%;
        }
    </style>

    <div class="main">
        {% block content %}

        {% endblock content %}
    </div>

    <!-- End Body -->

    {% include 'snippest/footer.html' %}
</body>


</html>